body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(0, 0, 0);
  font-family: "Monaco", monospace;
  z-index: 0;
}

body::-webkit-scrollbar {
  display: none;
}

#root {
  display: grid;
  grid-template-rows: repeat(150, 1fr);
  grid-template-columns: repeat(50, 1fr);
  gap: 0px;
  height: 150vh;
}

.background1 {
  grid-area: 1 / 1 / 151 / 51;
  background-image: url("Images/wallpaperflare.com_wallpaper.jpg");
  background-size: cover;
  z-index: 0;
  filter: blur(50px);
}
/* .background2 {
  grid-area: 61 / 1 / 101 / 51;
  background-image: url("Images/wallpaperflare.com_wallpaper4.jpg");
  background-size: cover;
  z-index: 0;
  filter: blur(50px);
} */

.navbar {
  display: flex;
  grid-area: 2 / 10 / 14 / 51;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.navbar-child {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-list {
  padding: 0px;
  margin: 0px;
  display: flex;
  gap: 3em;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.nav-list li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease-in-out;
  font-size: 1.5em;
  /* background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 20px rgb(255, 255, 255);
  padding: 5px;
  border-radius: 0.5em; */
}

.nav-list li span {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease-in-out;
  font-size: 1.5em;

  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 2px rgb(255, 255, 255);
  padding: 7px;
  border-radius: 0.5em;
}

.nav-list li a:hover {
  color: rgb(187, 0, 255);
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent; /* Darker semi-transparent background */
  backdrop-filter: blur(8px); /* Slightly less blur for a cleaner look */
  min-width: 200px;
  border-radius: 8px; /* Rounded corners */
  overflow: hidden; /* Prevent overflow */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Softer shadow */
  z-index: 1;
  opacity: 0; /* Initial state for animation */
  transform: translateY(-10px); /* Initial state for animation */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition for animation */
}

.dropdown-content a {
  display: block; /* Make links block elements */
  color: #ffffff; /* White text color for visibility */
  padding: 12px 16px; /* Increased padding for better spacing */
  text-decoration: none; /* Remove underline */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for hover effects */
}

.dropdown-content a:hover {
  color: #ffffff; /* Keep text color white on hover */
  transform: scale(1.05); /* Slightly scale up on hover */
}

.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1; /* Fade in */
  transform: translateY(0); /* Slide down */
}

.logo {
  grid-area: 2 / 1 / 14 / 10;
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  border-right: 2px solid rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.search-bar {
  height: 10px;
  border-radius: 2em;
  border: none;
  background-color: rgba(193, 193, 193, 0.568);

  color: white;
  padding: 10px;
  font-size: 16px;
}
.search-bar::placeholder {
  color: white;
  text-align: center;
}

.search-container {
  display: flex;
  align-items: center;
}

.hits {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  border-radius: 0.2em;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0px;
  margin: 0px;
  grid-area: 24 / 5 / 33 / 47;
  font-size: 3em;
  color: white;
  padding: 20px;
  box-shadow: 0px 0px 15px 4px rgb(255, 255, 255);
  z-index: 1;
  font-family: "Monaco", monospace;
}

.game {
  position: relative;
}

.game-container .game img {
  border-radius: 0.5em;
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex: 1;
  z-index: 1;
}

.game:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.5em;
}

.game-container {
  display: flex;
  gap: 2em;
  justify-content: space-evenly;
  padding: 2em;
  grid-area: 35/ 5 / 105 / 47;
  border-radius: 0.5em;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 15px 4px rgb(255, 255, 255);
  z-index: 1;
}



#root2 {
  display: grid;
  grid-template-rows: repeat(500, 1fr);
  grid-template-columns: repeat(50, 1fr);
  gap: 0px;
  height: 500vh;
  z-index: 1;
}



.background2 {
  grid-area: 1 / 1 / 401 / 51;
  background-image: url("Images/wallpaperflare.com_wallpaper5.jpg");
  background-size: cover;
  filter: blur(50px);
}

.football .scroll-container {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3em;
  padding: 1em;
  overflow: auto;
}

.football .scroll-container .game img {
  width: 300px;
  height: auto;
  border-radius: 0.5em;
}

.football {
  grid-area: 1 / 1 / 80 / 51;
  display: flex;
  flex-direction: column;
  color: white;
  /* border-radius: 0.5em; */
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 15px 4px rgb(255, 255, 255);
  z-index: 1;
}

.football p {
  text-align: center;
  font-size: 3em;
  padding: 0.5em;
  margin: 0;
  border-bottom: 3px solid rgb(255, 255, 255);
}

.fps .scroll-container {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3em;
  padding: 1em;
  overflow: auto;
}

.fps .scroll-container .game img {
  width: 300px;
  height: auto;
  border-radius: 0.5em;
}

.fps {
  grid-area: 110 / 1 / 200 / 51;
  display: flex;
  flex-direction: column;
  color: white;
  /* border-radius: 0.5em; */
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 15px 4px rgb(255, 255, 255);
  z-index: 1;
}

.fps p {
  text-align: center;
  font-size: 3em;
  padding: 0.5em;
  margin: 0;
  border-bottom: 3px solid rgb(255, 255, 255);
}














.racing .scroll-container {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3em;
  padding: 1em;
  overflow: auto;
}

.racing .scroll-container .game img {
  width: 300px;
  height: auto;
  border-radius: 0.5em;
}

.racing {
  grid-area: 230 / 1 / 310 / 51;
  display: flex;
  flex-direction: column;
  color: white;
  /* border-radius: 0.5em; */
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 15px 4px rgb(255, 255, 255);
  z-index: 1;
}

.racing p {
  text-align: center;
  font-size: 3em;
  padding: 0.5em;
  margin: 0;
  border-bottom: 3px solid rgb(255, 255, 255);
}







.adventure .scroll-container {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3em;
  padding: 1em;
  /* margin-top: 2em; */
  /* margin-bottom: 2em; */
  overflow: auto;
}

.adventure .scroll-container .game img {
  width: 300px;
  height: auto;
  border-radius: 0.5em;
}

.adventure {
  grid-area: 340 / 1 / 430 / 51;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 15px 4px rgb(255, 255, 255);
  z-index: 1;
}

.adventure p {
  text-align: center;
  font-size: 3em;
  padding: 0.5em;
  margin: 0;
  border-bottom: 3px solid rgb(255, 255, 255);
}










.scroll-container .game {
  text-align: center;
  font-size: 1.5em;
  word-break: break-all;
}

.scroll-container::-webkit-scrollbar {
  width: auto;
}

.scroll-container::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1em;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border-radius: 1em;
}
