body {
    background-image: url("Images/alexey-savchenko-k4Akpt5-Sfk-unsplash.jpg");
    background-size:cover;
    margin: 0;
    padding: 0;
    font-family: "Monaco", monospace;
    overflow:hidden;
    box-sizing: border-box;
    
}





#root::before{
    content: '';
    position: fixed;
    width: calc(100% + 30px); /* Expand width */
    height: calc(100% + 30px); /* Expand height */
    background: linear-gradient(
        rgba(119, 0, 203, 0.15), /* Dark overlay */
        rgba(0, 0, 0, 1)
        ),
        url("Images/alexey-savchenko-k4Akpt5-Sfk-unsplash.jpg");
        background-size: cover;
        background-position: center;
        filter: blur(15px);
        z-index: -1; /* Keeps the blur behind content */
}
    
    
#root{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100vw;
    height: 100vh;
    
}

.form{
    grid-column: 1 / 4;
    background-color: red;
    border: 10px solid black;
}

.logo{
    grid-column: 4 / 10;
    background-color: red;
    border: 10px solid black;
    /* height: 100vh; */
    justify-items: center;
    align-content: center;
}
