body {
    background-image: url("Images/pexels-felixmittermeier-956999.jpg");
    background-size: cover;
    margin: 0; /* Remove default margin */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: flex-start; /* Align at the top vertically */
    height: 100vh; /* Full viewport height */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

.login_box{
    background-color: black;
    align-items: left;
    position: absolute;
    left: 50px;
    top:50px;
    color:cornsilk;
}

.email{
    /*position: absolute;*/
    left: 15px;
}

h1{
    color: cornsilk;
    position: absolute;
    margin-top: 15%;
    font-size: 55 ;
}