body, html{
    margin: 0;
    padding: 0;
    font-family: "Monaco", monospace;
    box-sizing: border-box;
}

#root{
    background-image: url("Images/alexey-savchenko-k4Akpt5-Sfk-unsplash.jpg");
    background-size: cover;
    width: 100%;
    display: grid;
    grid-template-rows: 100vh;
    grid-template-columns: repeat(100, 1fr);
}

.form{
    grid-area: 1 / 1 / 1 / 51;
    /* border: 5px solid black; */
    background-color: rgba(0, 0, 0, 0.803);
    color: white;
    justify-items: center;
    justify-content: center;
    align-content: center;
    font-size: 2em;
    overflow: auto;
    padding: 1em;
    
}


.form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    gap: 2em;
    align-items: stretch;
}

.form form .cont{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.cont .feild{
    padding: 0.65em;
    border-radius: 1.5em;
    border: 0;
    font-size: 0.65em;
}

.form .register{
    align-self: center;
    width: 35%;
    padding: 1em;
    border-radius: 4em;
    font-size: 0.6em;
    font-weight: bold;
}

.logo{
    grid-area: 1 / 51 / 1 / 101;
    /* border: 5px solid black; */
    justify-items: center;
    align-content: center;
    font-size: 10em;
    color: rgb(255, 255, 255);
    background-color: rgba(113, 0, 148, 0.288);

}

.logo p{
    overflow-wrap: break-word; /* Break long words */
    word-wrap: break-word; /* Legacy support */
    word-break: break-word;
}








    
    
